/* kashima */
@font-face {
  font-family: 'Kashima Brash';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/kashima/Kashima.otf '); /* IE9 Compat Modes */
}

/* hideko-regular*/
@font-face {
  font-family: 'Hideko';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/hideco/Hideko.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/hideco/Hideko.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/hideco/Hideko.woff') format('woff'), /* Modern Browsers */
       url('/fonts/hideco/Hideko.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/hideco/Hideko.svg#Hideko') format('svg'); /* Legacy iOS */
}