.burger {
    &__checkbox {
        display: none;
    }

    &__label {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9999;

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
        }
    }

    .burger-button {
        width: 24px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        &__lines {
            width: 100%;
            height: 2px;
            background-color: $color-white;
            border-radius: 1px;
            z-index: 999;
            transition: all 0.5s;

            &::before,
            &::after {
                content: "";
                height: 2px;
                border-radius: 1px;
                background-color: $color-white;
                position: absolute;
                right: 0px;
                transition: all 0.2s;
            }

            &::before {
                width: 20px;
                top: 0px;
            }

            &::after {
                width: 20px;
                bottom: 0px;
            }
        }
    }

    .burger-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 0;
        overflow: hidden;
        background-color: $color-black;
        transition: height 0.5s ease-in-out;
        padding-left: 15px;
        overflow: auto;
        z-index: 998;
        &__list {
            display: inline-flex;
            flex-direction: column;
            gap: 30px;
            padding-top: 100px;
            margin-bottom: 30px;
        }

        &__item {
            list-style: none;
        }

        &__link {
            text-decoration: none;
            @include font(18px, 500, 20px);
            color: $color-white;
            position: relative;

            &:hover,
            &:active,
            &:focus {
                color: $color-accent;
            }

            &::before {
                content: "";
                width: 0px;
                height: 2px;
                background-color: $color-white;
                position: absolute;
                bottom: -5px;
                left: 50%;
                transition: all 0.2s ease-in-out;
            }

            &::after {
                content: "";
                width: 0px;
                height: 2px;
                background-color: $color-white;
                position: absolute;
                bottom: -5px;
                right: 50%;
                transition: all 0.2s ease-in-out;
            }

            &:hover::before,
            &:active::before,
            &:focus::before,
            &:hover::after,
            &:active::after,
            &:focus::after {
                width: 50%;
                background-color: $color-accent;
            }
        }
        &__button .button {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100vw;
                border-radius: 0;
                padding: 20px 0;
                background-color: transparent;
                color: transparent;
        }
        
    }
}

.burger__checkbox:checked~.burger-menu {
    height: 100vh;
    .button {
        color: wheat;
        background-color: $color-accent;
        transition: all 1s ease-in-out;
    }
}

.burger__checkbox:checked~.burger-button>.burger-button__lines {
    background-color: transparent;

    &::before {
        width: 24px;
        top: 9px;
        transform: rotate(-45deg);
        background-color: $color-white;


    }

    &::after {
        width: 24px;
        top: 9px;
        transform: rotate(45deg);
        background-color: $color-white;

    }
}