.button {
    width: 160px;
    padding: 10px 0;
    border-radius: 12px;
    font-weight: 500;
    border: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
    }
}

.reservation-btn,
.delivery-btn {
    color: $color-black;
    background-color: $color-white;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus,
    &:active {
        color: $color-white;
        background-color: $color-accent;
    }
}

.reservation-btn-red {
    color: $color-white;
    background-color: $color-accent;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus,
    &:active {
        color: $color-black;
        background-color: $color-white;
    }
}

.interior-btn,
.menu-btn {
    color: $color-black;
    background-color: transparent;
    border: 2px solid $color-accent;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;;
        background-color: $color-accent;
        color: $color-white;
    }
}


  