.footer {
    background: url(/img/pattern.jpg), $color-black;
    background-repeat: repeat;

    &__body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-between;
        flex-grow: 1;
    }


    &__section {
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__section_contacts {
        margin-top: 0px;
    }

    &__subtitle {
        color: $color-accent;
    }

    &__section_map iframe {
        height: 325px;
        border: 0;
        width: 100%;
        max-width: 1170px;
    }

    &__paragraph,
    &__link {
        color: lighten($color-grey, 50);
    }

    &__split {
        border-bottom: 1px solid $color-white;
        &_up {
            width: 60px;
            margin: 10px 0;
            align-self: flex-start;
        }
        &_bottom {
            width: 100%;
            margin: 20px 0;
        }
    }

    &__menu {
        align-self: center;
        justify-self: center;
    }

    .container {
        height: 100%;
    }

    .menu__list {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .menu__item {
        line-height: 14px;
    }

    .menu__link {
        font-size: 12px;

        &::before,
        &::after {
            display: none;
        }
    }

    @media only screen and (min-width:1024px) {
        .footer__content {
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }

        .footer__section_map {
            flex-grow: 1;
        }

        &__section_contacts {
            margin-top: 60px;
        }
    }
}