.page-03-menu {
    padding: 50px 0;
    .section__body {
        align-items: center;
        text-align: center;
    }
    .section__split {
        width:100px;
        border-bottom: 2px solid $color-accent;
        margin: 10px;
    }
    .section__gallery {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
        grid-template-rows: auto;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin: 30px 0 20px;
    }
    .item {
        background-color: $color-black;
        color: $color-white;
        height: 285px;
        padding: 15px;
        overflow: hidden;
        position: relative;
        z-index: 0;
        align-items: center;
        justify-content: space-between;

        &__title {
            margin-top: 237px;
            margin-bottom: 10px;
        }
        &__paragraph {
            color: darken($color-white, 15);
            margin-bottom: 20px;
        }
        .button {
            height: 30px;
            width: 100%;
            border: none;
            font-size: 14px;
            font-weight: 600;
            color: $color-white;
            background-color:  $color-accent;
            &:hover,
            &:focus,
            &:active {
                cursor: pointer;
                color: $color-black;
                background-color:  $color-white;
                transition: all .3s ease-in-out;
            }
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        &:hover, &:focus {
            .item__title {
                margin-top: 0px;
                transition: all .5s;
            }
            &::after {
                opacity: 0.40;
                transition: all .5s;
            }
        }

    }
    .item-01::after {
        background-image: url("/img/item-01.webp");
        background-size: cover;
        background-position: center;
    }
    .item-02::after {
        background-image: url("/img/item-02.webp");
        background-size: cover;
        background-position: center;
    }
    .item-03::after {
        background-image: url("/img/item-03.webp");
        background-size: cover;
        background-position: center;
    }
    .item-04::after {
        background-image: url("/img/item-04.webp");
        background-size: cover;
        background-position: center;
    }

    @media only screen and (min-width:768px) {
        .menu-btn {
            align-self: flex-end;
        }
    }
}
